html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.sidebar {
    background-color: #38bdf8;
    width: 150px;
    height: 550px;
    padding-right: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu img {
    width: 30px;
    height: 30px;
}

.accessories img {
    width: 30px;
    height: 30px;

}

a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.logo {
    padding-top: 20px;
}

.menu {
    padding: 20px 0px 20px 0px;
    background-color: #38bdf8;
    width: 150px;
    height: 350px;
    padding-right: 50px;
}

.accessories {
    padding-bottom: 20px;
    background-color: #38bdf8;
    width: 150px;
    padding-right: 50px;
    height: 150px;
}

.header {
    background-color: #f1f5f9;
    width: 1150px;
    height: 100px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.header1 img {
    width: 30px;
    height: 30px;
}

.header2 {
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.header2 img {
    width: 50px;
    height: 50px;
}

.content {
    background-color: #d4d4d8;
    height: 330px;
    display: grid;
    grid-template-areas: 
    "container1 container2"
    "container1 container3";
}

.container1 {
    display: grid;
    grid-template-areas: 
    "box0 box0"
    "box1 box2"
    "box3 box4"
    "box5 box6";
    padding: 10px;
    gap: 10px;
}

.container1-box {
    background-color: #f1f5f9;
    width: 200px;
    height: 100px;
}

.container3-box {
    display: flex;
    
}

.container3-box img {
    width: 20px;
    height: 20px;
}